Port 22
Protocol 2
ListenAddress 0.0.0.0
PermitRootLogin no
AuthorizedKeysFile .ssh/authorized_keys
UsePAM yes
UsePrivilegeSeparation sandbox
Banner /etc/issue
Subsystem sftp /usr/lib/ssh/sftp-server
